# Exploring Hunter, CCNY, Medgar, NYU, and Columbia Origin Data
* 2021 - 2024

In [43]:
import pandas as pd

columbia1 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2021_Columbia_Origin.csv")
columbia2 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2022_Columbia_Origin.csv")
columbia3 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2023_Columbia_Origin.csv")
columbia4 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2024_Columbia_Origin.csv")
columbia_total = pd.concat([columbia1, columbia2, columbia3, columbia4])

In [44]:
nyu1 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2021_NYU_Origin.csv")
nyu2 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2022_NYU_Origin.csv")
nyu3 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2023_NYU_Origin.csv")
nyu4 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2024_NYU_Origin.csv")
nyu_total = pd.concat([nyu1, nyu2, nyu3, nyu4])

In [45]:
hunter1 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2021_Hunter_Origin.csv")
hunter2 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2022_Hunter_Origin.csv")
hunter3 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2023_Hunter_Origin.csv")
hunter4 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2024_Hunter_Origin.csv")
hunter_total = pd.concat([hunter1, hunter2, hunter3, hunter4])

In [46]:
ccny1 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2021_CCNY_Origin.csv")
ccny2 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2022_CCNY_Origin.csv")
ccny3 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2023_CCNY_Origin.csv")
ccny4 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2024_CCNY_Origin.csv")
ccny_total = pd.concat([ccny1, ccny2, ccny3, ccny4])

In [47]:
medgar1 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2021_Medgar_Origin.csv")
medgar2 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2022_Medgar_Origin.csv")
medgar3 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2023_Medgar_Origin.csv")
medgar4 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2024_Medgar_Origin.csv")
medgar_total = pd.concat([medgar1, medgar2, medgar3, medgar4])

In [48]:
hunter_total_grouped = hunter_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
nyu_total_grouped = nyu_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
columbia_total_grouped = columbia_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
ccny_total_grouped = ccny_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
medgar_total_grouped = medgar_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')

In [49]:
hunter_stations_of_interest = hunter_total_grouped[(hunter_total_grouped["Destination Station Complex ID"] == 135) | 
                                                   (hunter_total_grouped["Destination Station Complex ID"] == 209) |
                                                   (hunter_total_grouped["Destination Station Complex ID"] == 196)]

nyu_stations_of_interest = nyu_total_grouped[(nyu_total_grouped["Destination Station Complex ID"] == 135) | 
                                             (nyu_total_grouped["Destination Station Complex ID"] == 209) |
                                             (nyu_total_grouped["Destination Station Complex ID"] == 196)]

columbia_stations_of_interest = columbia_total_grouped[(columbia_total_grouped["Destination Station Complex ID"] == 135) | 
                                                       (columbia_total_grouped["Destination Station Complex ID"] == 209) |
                                                       (columbia_total_grouped["Destination Station Complex ID"] == 196)]

ccny_stations_of_interest = ccny_total_grouped[(ccny_total_grouped["Destination Station Complex ID"] == 135) | 
                                               (ccny_total_grouped["Destination Station Complex ID"] == 209) |
                                               (ccny_total_grouped["Destination Station Complex ID"] == 196)]

medgar_stations_of_interest = medgar_total_grouped[(medgar_total_grouped["Destination Station Complex ID"] == 135) | 
                                                   (medgar_total_grouped["Destination Station Complex ID"] == 209) |
                                                   (medgar_total_grouped["Destination Station Complex ID"] == 196)]

In [50]:
hunter_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)   1928
155                             196           Aqueduct Racetrack (A)    695
168                             209         Far Rockaway-Mott Av (A)   2415

In [51]:
ccny_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    512
154                             196           Aqueduct Racetrack (A)    392
167                             209         Far Rockaway-Mott Av (A)    830

In [52]:
medgar_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    553
154                             196           Aqueduct Racetrack (A)    151
167                             209         Far Rockaway-Mott Av (A)    526

In [53]:
nyu_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
106                             135                   Livonia Av (L)    694
154                             196           Aqueduct Racetrack (A)    171
167                             209         Far Rockaway-Mott Av (A)    631

In [54]:
columbia_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    579
154                             196           Aqueduct Racetrack (A)    217
167                             209         Far Rockaway-Mott Av (A)    893