# Exploring Hunter, CCNY, Medgar, NYU, and Columbia Origin Data
* 2021 - 2024

## Load and combine all the datasets

In [2]:
import pandas as pd

columbia1 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2021_Columbia_Origin.csv")
columbia2 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2022_Columbia_Origin.csv")
columbia3 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2023_Columbia_Origin.csv")
columbia4 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2024_Columbia_Origin.csv")
columbia_total = pd.concat([columbia1, columbia2, columbia3, columbia4])

In [3]:
nyu1 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2021_NYU_Origin.csv")
nyu2 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2022_NYU_Origin.csv")
nyu3 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2023_NYU_Origin.csv")
nyu4 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2024_NYU_Origin.csv")
nyu_total = pd.concat([nyu1, nyu2, nyu3, nyu4])

In [4]:
hunter1 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2021_Hunter_Origin.csv")
hunter2 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2022_Hunter_Origin.csv")
hunter3 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2023_Hunter_Origin.csv")
hunter4 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2024_Hunter_Origin.csv")
hunter_total = pd.concat([hunter1, hunter2, hunter3, hunter4])

In [5]:
ccny1 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2021_CCNY_Origin.csv")
ccny2 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2022_CCNY_Origin.csv")
ccny3 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2023_CCNY_Origin.csv")
ccny4 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2024_CCNY_Origin.csv")
ccny_total = pd.concat([ccny1, ccny2, ccny3, ccny4])

In [6]:
medgar1 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2021_Medgar_Origin.csv")
medgar2 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2022_Medgar_Origin.csv")
medgar3 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2023_Medgar_Origin.csv")
medgar4 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2024_Medgar_Origin.csv")
medgar_total = pd.concat([medgar1, medgar2, medgar3, medgar4])

## Overall Stations of Interest Results:
* With Hunter College as the Origin Station, more people commute to highly enforced stations
* However, rates are pretty comparable between CCNY, MedgarEvers, NYU, and Columbia
* These are all hours and all days, so may not capture student activity. Next step is to filter by those times and look for comparisons.

In [7]:
hunter_total_grouped = hunter_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
nyu_total_grouped = nyu_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
columbia_total_grouped = columbia_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
ccny_total_grouped = ccny_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
medgar_total_grouped = medgar_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')

In [8]:
hunter_stations_of_interest = hunter_total_grouped[(hunter_total_grouped["Destination Station Complex ID"] == 135) | 
                                                   (hunter_total_grouped["Destination Station Complex ID"] == 209) |
                                                   (hunter_total_grouped["Destination Station Complex ID"] == 196)]

nyu_stations_of_interest = nyu_total_grouped[(nyu_total_grouped["Destination Station Complex ID"] == 135) | 
                                             (nyu_total_grouped["Destination Station Complex ID"] == 209) |
                                             (nyu_total_grouped["Destination Station Complex ID"] == 196)]

columbia_stations_of_interest = columbia_total_grouped[(columbia_total_grouped["Destination Station Complex ID"] == 135) | 
                                                       (columbia_total_grouped["Destination Station Complex ID"] == 209) |
                                                       (columbia_total_grouped["Destination Station Complex ID"] == 196)]

ccny_stations_of_interest = ccny_total_grouped[(ccny_total_grouped["Destination Station Complex ID"] == 135) | 
                                               (ccny_total_grouped["Destination Station Complex ID"] == 209) |
                                               (ccny_total_grouped["Destination Station Complex ID"] == 196)]

medgar_stations_of_interest = medgar_total_grouped[(medgar_total_grouped["Destination Station Complex ID"] == 135) | 
                                                   (medgar_total_grouped["Destination Station Complex ID"] == 209) |
                                                   (medgar_total_grouped["Destination Station Complex ID"] == 196)]

In [9]:
hunter_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)   1928
155                             196           Aqueduct Racetrack (A)    695
168                             209         Far Rockaway-Mott Av (A)   2415

In [10]:
ccny_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    512
154                             196           Aqueduct Racetrack (A)    392
167                             209         Far Rockaway-Mott Av (A)    830

In [11]:
medgar_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    553
154                             196           Aqueduct Racetrack (A)    151
167                             209         Far Rockaway-Mott Av (A)    526

In [12]:
nyu_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
106                             135                   Livonia Av (L)    694
154                             196           Aqueduct Racetrack (A)    171
167                             209         Far Rockaway-Mott Av (A)    631

In [13]:
columbia_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    579
154                             196           Aqueduct Racetrack (A)    217
167                             209         Far Rockaway-Mott Av (A)    893

## Filter by time and days - Hunter College 2021 - 2024
* 2-4 PM - usually students commute home at this time
* Mon - Fri - usually school days
* Results of the number of people commuting form Hunter to these highly enforced stations during these times are detailed below

In [14]:
# filter the dataset for Monday - Friday
hunter_total_filtered = hunter_total[(hunter_total["Day of Week"] != "Saturday") & (hunter_total["Day of Week"] != "Sunday")]

# filter the dataset for 2-4PM
hunter_total_filtered = hunter_total_filtered[(hunter_total_filtered["Hour of Day"] >= 14) & (hunter_total_filtered["Hour of Day"] <= 16)]

In [15]:
print(f"Day of Week{hunter_total_filtered["Day of Week"].unique()}")
print(f"Hour of Day{hunter_total_filtered["Hour of Day"].unique()}")

Day of Week['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday']
Hour of Day[14 15 16]

In [16]:
# group the data by destination station
hunter_total_filtered_group = hunter_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')

hunter_stations_of_interest_filtered = hunter_total_filtered_group[(hunter_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 196)]

In [17]:
hunter_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    509
155                             196           Aqueduct Racetrack (A)    234
168                             209         Far Rockaway-Mott Av (A)    678

## Filtered Stations of Interest Results

In [18]:
# filter all datasets for Monday - Friday
hunter_total_filtered = hunter_total[(hunter_total["Day of Week"] != "Saturday") & (hunter_total["Day of Week"] != "Sunday")]
nyu_total_filtered = nyu_total[(nyu_total["Day of Week"] != "Saturday") & (nyu_total["Day of Week"] != "Sunday")]
columbia_total_filtered = columbia_total[(columbia_total["Day of Week"] != "Saturday") & (columbia_total["Day of Week"] != "Sunday")]
ccny_total_filtered = ccny_total[(ccny_total["Day of Week"] != "Saturday") & (ccny_total["Day of Week"] != "Sunday")]
medgar_total_filtered = medgar_total[(medgar_total["Day of Week"] != "Saturday") & (medgar_total["Day of Week"] != "Sunday")]

# filter all datasets for 2-4PM
hunter_total_filtered = hunter_total_filtered[(hunter_total_filtered["Hour of Day"] >= 14) & (hunter_total_filtered["Hour of Day"] <= 16)]
nyu_total_filtered = nyu_total_filtered[(nyu_total_filtered["Hour of Day"] >= 14) & (nyu_total_filtered["Hour of Day"] <= 16)]
columbia_total_filtered = columbia_total_filtered[(columbia_total_filtered["Hour of Day"] >= 14) & (columbia_total_filtered["Hour of Day"] <= 16)]
ccny_total_filtered = ccny_total_filtered[(ccny_total_filtered["Hour of Day"] >= 14) & (ccny_total_filtered["Hour of Day"] <= 16)]
medgar_total_filtered = medgar_total_filtered[(medgar_total_filtered["Hour of Day"] >= 14) & (medgar_total_filtered["Hour of Day"] <= 16)]

In [19]:
# group the data by destination station
hunter_total_filtered_group = hunter_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
hunter_stations_of_interest_filtered = hunter_total_filtered_group[(hunter_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 196)]

nyu_total_filtered_group = nyu_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
nyu_stations_of_interest_filtered = nyu_total_filtered_group[(nyu_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                             (nyu_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                             (nyu_total_filtered_group["Destination Station Complex ID"] == 196)]

columbia_total_filtered_group = columbia_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
columbia_stations_of_interest_filtered = columbia_total_filtered_group[(columbia_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                       (columbia_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                       (columbia_total_filtered_group["Destination Station Complex ID"] == 196)]

ccny_total_filtered_group = ccny_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
ccny_stations_of_interest_filtered = ccny_total_filtered_group[(ccny_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                               (ccny_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                               (ccny_total_filtered_group["Destination Station Complex ID"] == 196)]

medgar_total_filtered_group = medgar_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
medgar_stations_of_interest_filtered = medgar_total_filtered_group[(medgar_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                   (medgar_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                   (medgar_total_filtered_group["Destination Station Complex ID"] == 196)]

In [20]:
hunter_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    509
155                             196           Aqueduct Racetrack (A)    234
168                             209         Far Rockaway-Mott Av (A)    678

In [21]:
ccny_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)     84
154                             196           Aqueduct Racetrack (A)     64
167                             209         Far Rockaway-Mott Av (A)    146

In [22]:
medgar_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    128
154                             196           Aqueduct Racetrack (A)     28
167                             209         Far Rockaway-Mott Av (A)    130

In [23]:
nyu_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
106                             135                   Livonia Av (L)    138
154                             196           Aqueduct Racetrack (A)     25
167                             209         Far Rockaway-Mott Av (A)    142

In [24]:
columbia_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    129
154                             196           Aqueduct Racetrack (A)     50
167                             209         Far Rockaway-Mott Av (A)    257