# Exploring Hunter, CCNY, Medgar, NYU, and Columbia Origin Data
* 2021 - 2024

## Load and combine all the datasets

In [2]:
import pandas as pd

columbia1 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2021_Columbia_Origin.csv")
columbia2 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2022_Columbia_Origin.csv")
columbia3 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2023_Columbia_Origin.csv")
columbia4 = pd.read_csv("datasets/columbia/MTA_Subway_Origin-Destination_2024_Columbia_Origin.csv")
columbia_total = pd.concat([columbia1, columbia2, columbia3, columbia4])

In [3]:
nyu1 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2021_NYU_Origin.csv")
nyu2 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2022_NYU_Origin.csv")
nyu3 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2023_NYU_Origin.csv")
nyu4 = pd.read_csv("datasets/nyu/MTA_Subway_Origin-Destination_2024_NYU_Origin.csv")
nyu_total = pd.concat([nyu1, nyu2, nyu3, nyu4])

In [4]:
hunter1 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2021_Hunter_Origin.csv")
hunter2 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2022_Hunter_Origin.csv")
hunter3 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2023_Hunter_Origin.csv")
hunter4 = pd.read_csv("datasets/hunter/MTA_Subway_Origin-Destination_2024_Hunter_Origin.csv")
hunter_total = pd.concat([hunter1, hunter2, hunter3, hunter4])

In [5]:
ccny1 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2021_CCNY_Origin.csv")
ccny2 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2022_CCNY_Origin.csv")
ccny3 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2023_CCNY_Origin.csv")
ccny4 = pd.read_csv("datasets/ccny/MTA_Subway_Origin-Destination_2024_CCNY_Origin.csv")
ccny_total = pd.concat([ccny1, ccny2, ccny3, ccny4])

In [6]:
medgar1 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2021_Medgar_Origin.csv")
medgar2 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2022_Medgar_Origin.csv")
medgar3 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2023_Medgar_Origin.csv")
medgar4 = pd.read_csv("datasets/medgar/MTA_Subway_Origin-Destination_2024_Medgar_Origin.csv")
medgar_total = pd.concat([medgar1, medgar2, medgar3, medgar4])

## Overall Stations of Interest Results:
* With Hunter College as the Origin Station, more people commute to highly enforced stations
* However, rates are pretty comparable between CCNY, MedgarEvers, NYU, and Columbia
* These are all hours and all days, so may not capture student activity. Next step is to filter by those times and look for comparisons.

In [7]:
hunter_total_grouped = hunter_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
nyu_total_grouped = nyu_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
columbia_total_grouped = columbia_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
ccny_total_grouped = ccny_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
medgar_total_grouped = medgar_total.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')

In [8]:
hunter_stations_of_interest = hunter_total_grouped[(hunter_total_grouped["Destination Station Complex ID"] == 135) | 
                                                   (hunter_total_grouped["Destination Station Complex ID"] == 209) |
                                                   (hunter_total_grouped["Destination Station Complex ID"] == 196)]

nyu_stations_of_interest = nyu_total_grouped[(nyu_total_grouped["Destination Station Complex ID"] == 135) | 
                                             (nyu_total_grouped["Destination Station Complex ID"] == 209) |
                                             (nyu_total_grouped["Destination Station Complex ID"] == 196)]

columbia_stations_of_interest = columbia_total_grouped[(columbia_total_grouped["Destination Station Complex ID"] == 135) | 
                                                       (columbia_total_grouped["Destination Station Complex ID"] == 209) |
                                                       (columbia_total_grouped["Destination Station Complex ID"] == 196)]

ccny_stations_of_interest = ccny_total_grouped[(ccny_total_grouped["Destination Station Complex ID"] == 135) | 
                                               (ccny_total_grouped["Destination Station Complex ID"] == 209) |
                                               (ccny_total_grouped["Destination Station Complex ID"] == 196)]

medgar_stations_of_interest = medgar_total_grouped[(medgar_total_grouped["Destination Station Complex ID"] == 135) | 
                                                   (medgar_total_grouped["Destination Station Complex ID"] == 209) |
                                                   (medgar_total_grouped["Destination Station Complex ID"] == 196)]

In [9]:
hunter_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)   1928
155                             196           Aqueduct Racetrack (A)    695
168                             209         Far Rockaway-Mott Av (A)   2415

In [10]:
ccny_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    512
154                             196           Aqueduct Racetrack (A)    392
167                             209         Far Rockaway-Mott Av (A)    830

In [11]:
medgar_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    553
154                             196           Aqueduct Racetrack (A)    151
167                             209         Far Rockaway-Mott Av (A)    526

In [12]:
nyu_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
106                             135                   Livonia Av (L)    694
154                             196           Aqueduct Racetrack (A)    171
167                             209         Far Rockaway-Mott Av (A)    631

In [13]:
columbia_stations_of_interest

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    579
154                             196           Aqueduct Racetrack (A)    217
167                             209         Far Rockaway-Mott Av (A)    893

## Filter by time and days - Hunter College 2021 - 2024
* 2-4 PM - usually students commute home at this time
* Mon - Fri - usually school days
* Results of the number of people commuting form Hunter to these highly enforced stations during these times are detailed below

In [14]:
# filter the dataset for Monday - Friday
hunter_total_filtered = hunter_total[(hunter_total["Day of Week"] != "Saturday") & (hunter_total["Day of Week"] != "Sunday")]

# filter the dataset for 2-4PM
hunter_total_filtered = hunter_total_filtered[(hunter_total_filtered["Hour of Day"] >= 14) & (hunter_total_filtered["Hour of Day"] <= 16)]

In [15]:
print(f"Day of Week{hunter_total_filtered["Day of Week"].unique()}")
print(f"Hour of Day{hunter_total_filtered["Hour of Day"].unique()}")

Day of Week['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday']
Hour of Day[14 15 16]

In [16]:
# group the data by destination station
hunter_total_filtered_group = hunter_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')

hunter_stations_of_interest_filtered = hunter_total_filtered_group[(hunter_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 196)]

In [17]:
hunter_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    509
155                             196           Aqueduct Racetrack (A)    234
168                             209         Far Rockaway-Mott Av (A)    678

## Filtered Stations of Interest Results

In [18]:
# filter all datasets for Monday - Friday
hunter_total_filtered = hunter_total[(hunter_total["Day of Week"] != "Saturday") & (hunter_total["Day of Week"] != "Sunday")]
nyu_total_filtered = nyu_total[(nyu_total["Day of Week"] != "Saturday") & (nyu_total["Day of Week"] != "Sunday")]
columbia_total_filtered = columbia_total[(columbia_total["Day of Week"] != "Saturday") & (columbia_total["Day of Week"] != "Sunday")]
ccny_total_filtered = ccny_total[(ccny_total["Day of Week"] != "Saturday") & (ccny_total["Day of Week"] != "Sunday")]
medgar_total_filtered = medgar_total[(medgar_total["Day of Week"] != "Saturday") & (medgar_total["Day of Week"] != "Sunday")]

# filter all datasets for 2-4PM
hunter_total_filtered = hunter_total_filtered[(hunter_total_filtered["Hour of Day"] >= 14) & (hunter_total_filtered["Hour of Day"] <= 16)]
nyu_total_filtered = nyu_total_filtered[(nyu_total_filtered["Hour of Day"] >= 14) & (nyu_total_filtered["Hour of Day"] <= 16)]
columbia_total_filtered = columbia_total_filtered[(columbia_total_filtered["Hour of Day"] >= 14) & (columbia_total_filtered["Hour of Day"] <= 16)]
ccny_total_filtered = ccny_total_filtered[(ccny_total_filtered["Hour of Day"] >= 14) & (ccny_total_filtered["Hour of Day"] <= 16)]
medgar_total_filtered = medgar_total_filtered[(medgar_total_filtered["Hour of Day"] >= 14) & (medgar_total_filtered["Hour of Day"] <= 16)]

In [19]:
# group the data by destination station
hunter_total_filtered_group = hunter_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
hunter_stations_of_interest_filtered = hunter_total_filtered_group[(hunter_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                   (hunter_total_filtered_group["Destination Station Complex ID"] == 196)]

nyu_total_filtered_group = nyu_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
nyu_stations_of_interest_filtered = nyu_total_filtered_group[(nyu_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                             (nyu_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                             (nyu_total_filtered_group["Destination Station Complex ID"] == 196)]

columbia_total_filtered_group = columbia_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
columbia_stations_of_interest_filtered = columbia_total_filtered_group[(columbia_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                       (columbia_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                       (columbia_total_filtered_group["Destination Station Complex ID"] == 196)]

ccny_total_filtered_group = ccny_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
ccny_stations_of_interest_filtered = ccny_total_filtered_group[(ccny_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                               (ccny_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                               (ccny_total_filtered_group["Destination Station Complex ID"] == 196)]

medgar_total_filtered_group = medgar_total_filtered.groupby(["Destination Station Complex ID", "Destination Station Complex Name"]).size().reset_index(name='Count')
medgar_stations_of_interest_filtered = medgar_total_filtered_group[(medgar_total_filtered_group["Destination Station Complex ID"] == 135) | 
                                                                   (medgar_total_filtered_group["Destination Station Complex ID"] == 209) |
                                                                   (medgar_total_filtered_group["Destination Station Complex ID"] == 196)]

In [20]:
hunter_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    509
155                             196           Aqueduct Racetrack (A)    234
168                             209         Far Rockaway-Mott Av (A)    678

In [21]:
ccny_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)     84
154                             196           Aqueduct Racetrack (A)     64
167                             209         Far Rockaway-Mott Av (A)    146

In [22]:
medgar_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    128
154                             196           Aqueduct Racetrack (A)     28
167                             209         Far Rockaway-Mott Av (A)    130

In [23]:
nyu_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
106                             135                   Livonia Av (L)    138
154                             196           Aqueduct Racetrack (A)     25
167                             209         Far Rockaway-Mott Av (A)    142

In [24]:
columbia_stations_of_interest_filtered

     Destination Station Complex ID Destination Station Complex Name  Count
107                             135                   Livonia Av (L)    129
154                             196           Aqueduct Racetrack (A)     50
167                             209         Far Rockaway-Mott Av (A)    257

## Experiment with the Estimated Average Ridership Feature
* The estimated ridership for an origin-destination pair and hour of day, averaged by day of week over the calendar month
* I think I may have aggregated the data incorrectly. What I was doing was summing up all instances of the origin-destination pair. However, that doesn't actually capture the amount of ridership since each instance is already aggregated by Month, Day of Week, and Hour of Day. In other words, there is only one instance with that combination, which isn't necessarily the ridership amount. We need to make use of the `Estimated Average Ridership` feature
* Think of a way to properly aggregate the `Estimated Average Ridership` number to get the actual ridership.

In [57]:
hunter_total[(hunter_total["Destination Station Complex ID"] == 610) & (hunter_total["Hour of Day"] == 14)].head(14)

,Year,Month,Day of Week,Hour of Day,Timestamp,Origin Station Complex ID,Origin Station Complex Name,Origin Latitude,Origin Longitude,Destination Station Complex ID,Destination Station Complex Name,Destination Latitude,Destination Longitude,Estimated Average Ridership,Origin Point,Destination Point
238,2021,1,Monday,14,01/04/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,21.5470,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
3880,2021,1,Tuesday,14,01/05/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,25.8403,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
7656,2021,1,Wednesday,14,01/06/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,26.0472,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
11244,2021,1,Thursday,14,01/07/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,24.7185,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
15217,2021,1,Friday,14,01/08/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,26.5746,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
18921,2021,1,Saturday,14,01/09/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,11.5970,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
21733,2021,1,Sunday,14,01/10/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,6.9664,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
24123,2021,2,Monday,14,02/08/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,20.4773,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
27634,2021,2,Tuesday,14,02/09/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,24.3872,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
31657,2021,2,Wednesday,14,02/10/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,26.1758,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
35581,2021,2,Thursday,14,02/11/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,36.9295,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
39506,2021,2,Friday,14,02/12/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,32.8223,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
43186,2021,2,Saturday,14,02/13/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,10.5615,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
46291,2021,2,Sunday,14,02/14/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,7.9063,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)

In [43]:
# try aggregating by estimated average ridership

hunter1_average_ridership = hunter1[(hunter1["Destination Station Complex ID"] == 135) & (hunter1["Month"] == 1)]

# This is the average ridership for January 2021
hunter1_average_ridership["Estimated Average Ridership"].sum()

np.float64(19.152199999999997)

In [56]:
hunter_total_average_ridership = hunter_total[(hunter_total["Destination Station Complex ID"] == 135)]

hunter_total["Estimated Average Ridership"].sum()

np.float64(4156885.1932)

In [81]:
hunter1_average_ridership = hunter1[(hunter1["Destination Station Complex ID"] == 610) & (hunter1["Month"] == 1)]
hunter1_average_ridership.head()

,Year,Month,Day of Week,Hour of Day,Timestamp,Origin Station Complex ID,Origin Station Complex Name,Origin Latitude,Origin Longitude,Destination Station Complex ID,Destination Station Complex Name,Destination Latitude,Destination Longitude,Estimated Average Ridership,Origin Point,Destination Point
40,2021,1,Monday,13,01/04/2021 01:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,18.8960,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
238,2021,1,Monday,14,01/04/2021 02:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,21.5470,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
709,2021,1,Monday,15,01/04/2021 03:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,36.3280,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
1065,2021,1,Monday,16,01/04/2021 04:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,64.2030,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)
1183,2021,1,Monday,17,01/04/2021 05:00:00 PM,399,68 St-Hunter College (6),40.768141,-73.96387,610,"Grand Central-42 St (S,4,5,6,7)",40.751992,-73.977359,53.1913,POINT (-73.96387 40.768141),POINT (-73.977359 40.751992)

In [84]:
total_ridership_month = 0

for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]:
    amount = hunter1_average_ridership[hunter1_average_ridership["Day of Week"] == day]["Estimated Average Ridership"].sum()
    print(f"{day}: {amount * 4}")
    total_ridership_month += amount * 4

print(f"All Ridership in Month: {total_ridership_month}")

Monday: 1313.9124000000002
Tuesday: 1546.7471999999998
Wednesday: 1582.9711999999997
Thursday: 1560.6724000000002
Friday: 1264.7648000000004
Saturday: 339.7936
Sunday: 219.32319999999999
All Ridership in Month: 7828.184800000001

In [ ]:
hunter1_average_ridership = hunter1[(hunter1["Destination Station Complex ID"] == 610)]

yearly_ridership = 0

for month in range(1, 13):
    print(f"Month: {month}")
    monthly_ridership = 0
    for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]:
        amount = hunter1_average_ridership[(hunter1_average_ridership["Month"] == month) & (hunter1_average_ridership["Day of Week"] == day)]["Estimated Average Ridership"].sum()
        print(f"{day}: {amount * 4}")
        monthly_ridership += amount * 4
    print(f"All Ridership in Month: {monthly_ridership}\n")
    yearly_ridership += monthly_ridership

print(f"All Ridership in Year: {yearly_ridership}")

Month: 1
Monday: 1313.9124000000002
Tuesday: 1546.7471999999998
Wednesday: 1582.9711999999997
Thursday: 1560.6724000000002
Friday: 1264.7648000000004
Saturday: 339.7936
Sunday: 219.32319999999999
All Ridership in Month: 7828.184800000001

Month: 2
Monday: 1203.8604
Tuesday: 1442.1495999999997
Wednesday: 1764.6644
Thursday: 1687.7192
Friday: 1510.4344
Saturday: 390.58000000000004
Sunday: 258.19359999999995
All Ridership in Month: 8257.6016

Month: 3
Monday: 1651.2672
Tuesday: 1704.008
Wednesday: 1635.3560000000002
Thursday: 1765.6684
Friday: 1531.2015999999999
Saturday: 472.2476
Sunday: 272.76800000000003
All Ridership in Month: 9032.516800000001

Month: 4
Monday: 1718.3023999999998
Tuesday: 1859.6752000000001
Wednesday: 1887.5868
Thursday: 1843.6272
Friday: 1639.6576
Saturday: 502.55159999999995
Sunday: 284.736
All Ridership in Month: 9736.136800000002

Month: 5
Monday: 1678.0672000000002
Tuesday: 2081.21
Wednesday: 2041.174
Thursday: 2105.3887999999997
Friday: 1931.2296
Saturday: 664.4376000000001
Sunday: 434.42
All Ridership in Month: 10935.9272

Month: 6
Monday: 2311.8427999999994
Tuesday: 2519.0679999999998
Wednesday: 2572.8295999999996
Thursday: 2481.0056000000004
Friday: 2184.4596
Saturday: 858.3179999999999
Sunday: 604.1247999999999
All Ridership in Month: 13531.648399999998

Month: 7
Monday: 1878.7344000000003
Tuesday: 2545.424
Wednesday: 2446.6199999999994
Thursday: 2550.5344000000005
Friday: 2097.8312
Saturday: 681.9208000000001
Sunday: 517.63
All Ridership in Month: 12718.6948

Month: 8
Monday: 2196.6608
Tuesday: 2456.904
Wednesday: 2473.8388
Thursday: 2443.8531999999996
Friday: 2124.9576
Saturday: 755.0432000000001
Sunday: 542.236
All Ridership in Month: 12993.4936

Month: 9
Monday: 2828.2623999999996
Tuesday: 3384.0992
Wednesday: 3105.7175999999995
Thursday: 2895.6712
Friday: 2735.3952
Saturday: 902.5139999999999
Sunday: 583.914
All Ridership in Month: 16435.5736

Month: 10
Monday: 3425.0655999999994
Tuesday: 3725.5567999999994
Wednesday: 3733.7436
Thursday: 4024.5096
Friday: 3346.0512
Saturday: 1191.7672
Sunday: 880.5264000000001
All Ridership in Month: 20327.220399999995

Month: 11
Monday: 3936.8448000000003
Tuesday: 4348.477599999999
Wednesday: 4026.646
Thursday: 3273.7224
Friday: 2996.4471999999996
Saturday: 1247.8819999999998
Sunday: 920.1164000000001
All Ridership in Month: 20750.1364

Month: 12
Monday: 3109.0147999999995
Tuesday: 3290.1
Wednesday: 3324.0999999999995
Thursday: 3342.168
Friday: 2512.5696
Saturday: 1051.4635999999998
Sunday: 777.3503999999998
All Ridership in Month: 17406.766399999997

All Ridership in Year: 159953.90079999997

In [100]:
hunter1_average_ridership = hunter_total[(hunter_total["Destination Station Complex ID"] == 610)]

total_ridership_four_years = 0
for year in [2021, 2022, 2023, 2024]:
    print(f"Year: {year}")
    yearly_ridership = 0
    
    for month in range(1, 13):
        print(f"Month: {month}")
        monthly_ridership = 0
        
        for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]:
            amount = hunter1_average_ridership[(hunter1_average_ridership["Year"] == year) & (hunter1_average_ridership["Month"] == month) & (hunter1_average_ridership["Day of Week"] == day)]["Estimated Average Ridership"].sum()
            print(f"{day}: {amount * 4}")
            monthly_ridership += amount * 4

        print(f"All Ridership in Month: {monthly_ridership}\n")
        yearly_ridership += monthly_ridership

    print(f"All Ridership in Year: {yearly_ridership}\n")
    total_ridership_four_years += yearly_ridership

print(f"All Ridership in Four Years: {total_ridership_four_years}\n")

Year: 2021
Month: 1
Monday: 1313.9124000000002
Tuesday: 1546.7471999999998
Wednesday: 1582.9711999999997
Thursday: 1560.6724000000002
Friday: 1264.7648000000004
Saturday: 339.7936
Sunday: 219.32319999999999
All Ridership in Month: 7828.184800000001

Month: 2
Monday: 1203.8604
Tuesday: 1442.1495999999997
Wednesday: 1764.6644
Thursday: 1687.7192
Friday: 1510.4344
Saturday: 390.58000000000004
Sunday: 258.19359999999995
All Ridership in Month: 8257.6016

Month: 3
Monday: 1651.2672
Tuesday: 1704.008
Wednesday: 1635.3560000000002
Thursday: 1765.6684
Friday: 1531.2015999999999
Saturday: 472.2476
Sunday: 272.76800000000003
All Ridership in Month: 9032.516800000001

Month: 4
Monday: 1718.3023999999998
Tuesday: 1859.6752000000001
Wednesday: 1887.5868
Thursday: 1843.6272
Friday: 1639.6576
Saturday: 502.55159999999995
Sunday: 284.736
All Ridership in Month: 9736.136800000002

Month: 5
Monday: 1678.0672000000002
Tuesday: 2081.21
Wednesday: 2041.174
Thursday: 2105.3887999999997
Friday: 1931.2296
Saturday: 664.4376000000001
Sunday: 434.42
All Ridership in Month: 10935.9272

Month: 6
Monday: 2311.8427999999994
Tuesday: 2519.0679999999998
Wednesday: 2572.8295999999996
Thursday: 2481.0056000000004
Friday: 2184.4596
Saturday: 858.3179999999999
Sunday: 604.1247999999999
All Ridership in Month: 13531.648399999998

Month: 7
Monday: 1878.7344000000003
Tuesday: 2545.424
Wednesday: 2446.6199999999994
Thursday: 2550.5344000000005
Friday: 2097.8312
Saturday: 681.9208000000001
Sunday: 517.63
All Ridership in Month: 12718.6948

Month: 8
Monday: 2196.6608
Tuesday: 2456.904
Wednesday: 2473.8388
Thursday: 2443.8531999999996
Friday: 2124.9576
Saturday: 755.0432000000001
Sunday: 542.236
All Ridership in Month: 12993.4936

Month: 9
Monday: 2828.2623999999996
Tuesday: 3384.0992
Wednesday: 3105.7175999999995
Thursday: 2895.6712
Friday: 2735.3952
Saturday: 902.5139999999999
Sunday: 583.914
All Ridership in Month: 16435.5736

Month: 10
Monday: 3425.0655999999994
Tuesday: 3725.5567999999994
Wednesday: 3733.7436
Thursday: 4024.5096
Friday: 3346.0512
Saturday: 1191.7672
Sunday: 880.5264000000001
All Ridership in Month: 20327.220399999995

Month: 11
Monday: 3936.8448000000003
Tuesday: 4348.477599999999
Wednesday: 4026.646
Thursday: 3273.7224
Friday: 2996.4471999999996
Saturday: 1247.8819999999998
Sunday: 920.1164000000001
All Ridership in Month: 20750.1364

Month: 12
Monday: 3109.0147999999995
Tuesday: 3290.1
Wednesday: 3324.0999999999995
Thursday: 3342.168
Friday: 2512.5696
Saturday: 1051.4635999999998
Sunday: 777.3503999999998
All Ridership in Month: 17406.766399999997

All Ridership in Year: 159953.90079999997

Year: 2022
Month: 1
Monday: 2537.0576
Tuesday: 2885.3660000000004
Wednesday: 2785.1888
Thursday: 2839.1616
Friday: 2791.4764
Saturday: 695.9152000000003
Sunday: 501.7216
All Ridership in Month: 15035.8872

Month: 2
Monday: 3280.0031999999997
Tuesday: 3754.7344000000003
Wednesday: 3814.3111999999996
Thursday: 3896.8079999999995
Friday: 2951.5044
Saturday: 976.2231999999999
Sunday: 714.4672
All Ridership in Month: 19388.0516

Month: 3
Monday: 3971.7955999999995
Tuesday: 4290.6287999999995
Wednesday: 4229.096
Thursday: 4149.6032
Friday: 3545.7772
Saturday: 992.0571999999999
Sunday: 798.2892
All Ridership in Month: 21977.247199999998

Month: 4
Monday: 3787.2852000000003
Tuesday: 3959.554800000001
Wednesday: 3793.2516000000005
Thursday: 4005.836
Friday: 3220.0408
Saturday: 1040.2207999999998
Sunday: 735.9635999999999
All Ridership in Month: 20542.1528

Month: 5
Monday: 3222.482400000001
Tuesday: 4251.352
Wednesday: 3976.1600000000008
Thursday: 4024.8708
Friday: 3384.3851999999997
Saturday: 1165.0312
Sunday: 1011.4255999999999
All Ridership in Month: 21035.7072

Month: 6
Monday: 3292.4372000000003
Tuesday: 4065.614000000001
Wednesday: 4042.6504
Thursday: 4010.8280000000004
Friday: 3234.9355999999993
Saturday: 1379.6155999999999
Sunday: 1040.8768
All Ridership in Month: 21066.9576

Month: 7
Monday: 2786.1151999999997
Tuesday: 3696.7796000000003
Wednesday: 3806.732
Thursday: 3648.1035999999995
Friday: 2898.96
Saturday: 1187.5112
Sunday: 898.8184000000001
All Ridership in Month: 18923.02

Month: 8
Monday: 3121.6064
Tuesday: 3626.5112
Wednesday: 3539.2512
Thursday: 3529.0027999999998
Friday: 2837.9536
Saturday: 1247.6463999999999
Sunday: 865.9536
All Ridership in Month: 18767.9252

Month: 9
Monday: 3338.64
Tuesday: 4828.922799999999
Wednesday: 5152.8535999999995
Thursday: 4794.4576
Friday: 3811.9736
Saturday: 1554.5500000000002
Sunday: 902.3856000000002
All Ridership in Month: 24383.783199999998

Month: 10
Monday: 4278.439200000001
Tuesday: 4934.964
Wednesday: 4644.768
Thursday: 5297.800799999999
Friday: 4161.413599999999
Saturday: 1369.3376000000003
Sunday: 951.1280000000002
All Ridership in Month: 25637.8512

Month: 11
Monday: 4572.008799999999
Tuesday: 5050.231999999998
Wednesday: 4894.5376
Thursday: 4070.3896
Friday: 3336.4771999999994
Saturday: 1412.6336000000001
Sunday: 1076.538
All Ridership in Month: 24412.816799999993

Month: 12
Monday: 3863.0824
Tuesday: 4676.4776
Wednesday: 4331.3688
Thursday: 4360.211199999999
Friday: 3516.1703999999995
Saturday: 1326.7656000000002
Sunday: 1049.1112
All Ridership in Month: 23123.187199999997

All Ridership in Year: 254294.58719999998

Year: 2023
Month: 1
Monday: 3132.858399999999
Tuesday: 4713.5088
Wednesday: 4837.2072
Thursday: 4849.863200000001
Friday: 3787.5735999999997
Saturday: 1255.9976000000001
Sunday: 882.1344000000001
All Ridership in Month: 23459.143199999995

Month: 2
Monday: 4011.8695999999995
Tuesday: 5277.561999999999
Wednesday: 5162.126800000001
Thursday: 5128.486
Friday: 3961.7964
Saturday: 1294.8067999999998
Sunday: 906.1412000000001
All Ridership in Month: 25742.7888

Month: 3
Monday: 5824.5
Tuesday: 6259.2832
Wednesday: 6246.062400000001
Thursday: 6219.7448
Friday: 4908.176
Saturday: 1490.7128
Sunday: 1136.1
All Ridership in Month: 32084.5792

Month: 4
Monday: 5341.6584
Tuesday: 5866.262000000001
Wednesday: 5741.850399999999
Thursday: 5708.348800000002
Friday: 4592.106
Saturday: 1720.5584
Sunday: 1359.9063999999998
All Ridership in Month: 30330.6904

Month: 5
Monday: 4922.7552
Tuesday: 6265.6912
Wednesday: 6255.788800000001
Thursday: 6053.724800000001
Friday: 4446.032000000001
Saturday: 1712.2612000000001
Sunday: 1562.6912
All Ridership in Month: 31218.944400000008

Month: 6
Monday: 4692.271600000001
Tuesday: 6193.796
Wednesday: 5892.1968000000015
Thursday: 5926.9312
Friday: 4407.2232
Saturday: 1614.8899999999999
Sunday: 1192.3252
All Ridership in Month: 29919.634000000002

Month: 7
Monday: 4689.1071999999995
Tuesday: 4869.4424
Wednesday: 5832.116399999999
Thursday: 5766.6412
Friday: 4323.865199999999
Saturday: 1555.7087999999999
Sunday: 1084.724
All Ridership in Month: 28121.605199999995

Month: 8
Monday: 4924.2748
Tuesday: 5629.9624
Wednesday: 5473.5472
Thursday: 5321.3544
Friday: 4337.415999999999
Saturday: 1791.7324
Sunday: 1215.0088
All Ridership in Month: 28693.296

Month: 9
Monday: 5493.937599999999
Tuesday: 7980.9352
Wednesday: 7772.750400000001
Thursday: 8127.524
Friday: 5375.431200000001
Saturday: 1983.8175999999999
Sunday: 1367.7732
All Ridership in Month: 38102.16920000001

Month: 10
Monday: 6871.3207999999995
Tuesday: 7790.095999999999
Wednesday: 7493.2552
Thursday: 7821.697599999999
Friday: 5951.8192
Saturday: 2147.4635999999996
Sunday: 1585.7679999999998
All Ridership in Month: 39661.420399999995

Month: 11
Monday: 7290.0851999999995
Tuesday: 7872.651999999999
Wednesday: 7279.779200000001
Thursday: 6770.9439999999995
Friday: 5103.0512
Saturday: 2127.1252000000004
Sunday: 1620.2239999999997
All Ridership in Month: 38063.8608

Month: 12
Monday: 5647.655999999999
Tuesday: 6424.5872
Wednesday: 6514.738799999998
Thursday: 6564.257200000001
Friday: 5356.149599999999
Saturday: 2222.852
Sunday: 1464.6239999999998
All Ridership in Month: 34194.864799999996

All Ridership in Year: 379592.9964

Year: 2024
Month: 1
Monday: 4633.7288
Tuesday: 6664.589599999999
Wednesday: 6878.583999999999
Thursday: 6775.6628
Friday: 5498.7876000000015
Saturday: 1873.8483999999999
Sunday: 1348.5964000000001
All Ridership in Month: 33673.7976

Month: 2
Monday: 5998.957999999999
Tuesday: 6788.5055999999995
Wednesday: 7524.0372
Thursday: 7691.874400000001
Friday: 6110.731599999999
Saturday: 1721.0388
Sunday: 1219.3844000000001
All Ridership in Month: 37054.53

Month: 3
Monday: 7216.956800000002
Tuesday: 7796.1572
Wednesday: 7370.889999999999
Thursday: 7767.8168000000005
Friday: 5676.288799999999
Saturday: 1949.6288
Sunday: 1297.1992
All Ridership in Month: 39074.937600000005

Month: 4
Monday: 6117.8272
Tuesday: 7018.734400000002
Wednesday: 7014.592799999999
Thursday: 7250.4331999999995
Friday: 5749.052
Saturday: 2157.444
Sunday: 1672.2464
All Ridership in Month: 36980.33

Month: 5
Monday: 5456.3060000000005
Tuesday: 7245.002000000001
Wednesday: 7419.0368
Thursday: 7399.6975999999995
Friday: 5566.1504
Saturday: 1697.9568
Sunday: 1316.5164000000002
All Ridership in Month: 36100.666

Month: 6
Monday: 5854.449999999999
Tuesday: 6946.5224
Wednesday: 6382.52
Thursday: 6860.9188
Friday: 5434.071600000001
Saturday: 2110.0552
Sunday: 1663.5592000000001
All Ridership in Month: 35252.097200000004

Month: 7
Monday: 5905.907200000001
Tuesday: 6826.7856
Wednesday: 6756.447199999999
Thursday: 5406.721599999999
Friday: 3678.5744000000004
Saturday: 1067.4128
Sunday: 1051.5892000000001
All Ridership in Month: 30693.438

Month: 8
Monday: 5379.859600000002
Tuesday: 6385.9332
Wednesday: 6418.5036
Thursday: 6395.6712
Friday: 4655.1936
Saturday: 1179.1336000000001
Sunday: 983.0788
All Ridership in Month: 31397.373600000003

Month: 9
Monday: 6678.761600000001
Tuesday: 8622.527599999998
Wednesday: 8274.1616
Thursday: 8727.013200000001
Friday: 6557.4864
Saturday: 1499.8752
Sunday: 984.9872
All Ridership in Month: 41344.81280000001

Month: 10
Monday: 7027.638399999999
Tuesday: 8178.7864
Wednesday: 7595.689600000001
Thursday: 7502.449599999999
Friday: 5853.718800000001
Saturday: 1257.1571999999999
Sunday: 892.5588
All Ridership in Month: 38307.9988

Month: 11
Monday: 7465.5568
Tuesday: 8025.6404
Wednesday: 7358.568
Thursday: 6606.2284
Friday: 5508.808800000001
Saturday: 1660.5759999999998
Sunday: 1483.2584000000002
All Ridership in Month: 38108.6368

Month: 12
Monday: 6726.474399999999
Tuesday: 6718.8568
Wednesday: 6768.112399999999
Thursday: 7241.452799999999
Friday: 6097.857999999999
Saturday: 2255.7056000000002
Sunday: 1511.4943999999998
All Ridership in Month: 37319.9544

All Ridership in Year: 435308.57279999997

All Ridership in Four Years: 1229150.0572

In [108]:
def average_ridership_info(station_id, dataset, output_file):
    with open(output_file, "w") as file:
        average_ridership = dataset[(dataset["Destination Station Complex ID"] == station_id)]

        total_ridership_four_years = 0
        for year in [2021, 2022, 2023, 2024]:
            file.write(f"Year: {year}\n")
            yearly_ridership = 0
            
            for month in range(1, 13):
                file.write(f"Month: {month}\n")
                monthly_ridership = 0
                
                for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]:
                    amount = average_ridership[(average_ridership["Year"] == year) & 
                                               (average_ridership["Month"] == month) & 
                                               (average_ridership["Day of Week"] == day)]["Estimated Average Ridership"].sum()
                    file.write(f"{day}: {amount * 4}\n")
                    monthly_ridership += amount * 4

                file.write(f"All Ridership in Month: {monthly_ridership}\n\n")
                yearly_ridership += monthly_ridership

            file.write(f"All Ridership in Year: {yearly_ridership}\n\n")
            total_ridership_four_years += yearly_ridership

        file.write(f"All Ridership in Four Years: {total_ridership_four_years}\n")

In [112]:
average_ridership_info(135, hunter_total, "hunter_135.txt")

In [113]:
average_ridership_info(135, nyu_total, "nyu_135.txt")

In [114]:
average_ridership_info(135, ccny_total, "ccny_135.txt")

In [115]:
average_ridership_info(135, columbia_total, "columbia_135.txt")

In [116]:
average_ridership_info(135, medgar_total, "medgar_135.txt")